.rbc-event {
  background: none;

  &.rbc-selected {
    background: none;
  }

  .rbc-event-label {
    display: none;
  }
}

.event-root {
  padding: 5px 10px 3px 10px;
  border-radius: 4px;
  color: black;

  .event-header {
    display: flex;
    justify-content: space-between;

    .event-author {
      font-size: 14px;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
    }

    .event-actions {
      font-size: 14px;
      font-weight: 500;
      color: blue;
      cursor: pointer;
    }
  }

  .event-body {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}