.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c74;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: 30px;
  color: white;
}

.body {
  display: flex;
  justify-content: stretch;
}

.nav-panel {
  background-color: #282c34;
  flex: 0 0 300px;
  height: calc(100vh - 100px);
  >.menu-item {
    margin: 20px;
    color: white;
  }
}

.content {
  flex: 1 1 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
